.navbar-inverse {
    background-color: #000000;
    border-color: #ffffff;
}

.main-nav li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
  background-color: #4189c7;
  color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
      padding-top: 50px;
  }
}

@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .main-nav {
      height: 100%;
      width: calc(25% - 20px);
  }
  .main-nav .navbar {
      border-radius: 0px;
      border-width: 0px;
      height: 100%;
  }
  .main-nav .navbar-header {
      float: none;
  }
  .main-nav .navbar-collapse {
      border-top: 1px solid #444;
      padding: 0px;
  }
  .main-nav .navbar ul {
      float: none;
  }
  .main-nav .navbar li {
      float: none;
      font-size: 15px;
      margin: 6px;
  }
  .main-nav .navbar li a {
      padding: 10px 16px;
      border-radius: 4px;
  }
  .main-nav .navbar a {
      /* If a menu item's text is too long, truncate it */
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}











@import url(https://fonts.googleapis.com/css?family=Raleway:700);

.btn1 {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 3px hsla(0, 0%, 0%, .6);
  width: 5em;
  padding: 1em;
  color: hsla(255, 255%, 255%, 1);
  text-align: center;
  text-shadow: 0 2px 0 hsla(0, 0%, 0%, .25);
  font: 400 1.5em /1 'Raleway', sans-serif;
  letter-spacing: 4px;
  background: hsla(155, 95%, 35%, 1);
  cursor: pointer;
}


.loginContainer {
    margin : 10px;
    display: flex;
    height: 80vh;
}

.loginForm {
    border: 1px solid rgba(201, 201, 201, 0.966);
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 15px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fieldAnimate {


  animation: shake 0.72s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


  .glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }


  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
  }

  .card {
    width: 300px;
    border: 1px solid #919192;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-header {

    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
  }

  .card-header-blue {
    color: #0c5470;
    border-bottom: 1px solid #b8e5f3;
    background-color: #b8e5f3;
  }

  .card-header-red {
    color: #D32F2F;
    border-bottom: 1px solid #EF9A9A;
    background-color: #EF9A9A;
  }


  .card-main {
    display: flex;              /* Children use Flexbox */
    flex-direction: column;     /* Rotate Axis to Vertical */
    justify-content: center;    /* Group Children in Center */
    align-items: center;        /* Group Children in Center (+axis) */
    padding: 15px 0;            /* Add padding to the top/bottom */
  }

  .ApiClienteOk {
    color: green;
  }

  .ApiClienteFailure   {
    color: red;
  }